body {
  background-color: #ece3f0;
  font-family: Consolas, Arial, Helvetica, sans-serif;
}

.section {
  background-color: #efe7d3;
  width: 500px;
  margin: 1rem auto;
  border: 2px solid white;
}

.title {
  display: inline-block;
  text-align: left;
  padding: 1rem;
  margin: 1rem 0 1rem -2rem;
  width: 66%;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid #f8c0c8;
  background-color: #d3bbdd;
  color: white;
}

.section li {
  margin: 1rem;
}

.section p {
  padding: 0 1rem;
}
